- set_meta_tags title: "#{@post.title}"
- set_meta_tags description: @post.description

.row
  .col-md-8
    - breadcrumb :post, @post
    %section.postBox{ itemscope: true, itemtype: 'http://schema.org/BlogPosting' }
      %h1{ itemscope: 'headline' }
        = @post.title
      %span{ itemscope: 'datepublished' }
        = @post.created_at.to_s(:date)
      %span{ itemscope: 'keywords' }
        = @post.link_to_tag_lists
      %span{ itemscope: 'author' }
        %p By <a href="https://twitter.com/3chhe" onclick="ga('send', 'event', 'コンバージョン', 'twitter_link_top', 'this.ref')" target="_blank">Yusuke Takita</a>
      %hr
      - if admin_user_signed_in?
        %div
          = link_to '編集', edit_admin_post_path(@post.id), class: %w(btn btn-success mb-3), target: '_blank'
      .postBody{ itemscope: 'articleBody' }
        %p こんにちは。Kajitz inc.の<a href="https://twitter.com/3chhe" onclick="ga('send', 'event', 'コンバージョン', 'twitter_link_center', 'this.ref')" target="_blank">瀧田</a>です。
        = @post.to_html
      .socials
        = render 'sns_btns', post: @post
      .ads
        = render 'shared/ads/adsence_rectangle'
      .comments
        = render 'disqus', post: @post
  .col-md-4
    = render 'shared/ads/adsence_rectangle'
    = render 'shared/side_nav', categories: @categories, tags: @tags
