- set_meta_tags title: "#{@post.title}"
- set_meta_tags description: @post.description

.row
  .col-md-8
    - breadcrumb :post, @post
    %section.postBox{ itemscope: true, itemtype: 'http://schema.org/BlogPosting' }
    %h1{ itemscope: 'headline' }
      = @post.title
    %span{ itemscope: 'datepublished' }
      = @post.created_at.to_s(:date)
    %span{ itemscope: 'keywords' }
      = @post.link_to_tag_lists
    %hr
    .body{ itemscope: 'articleBody' }
      = @post.to_html
    .socials
      = render 'sns_btns', post: @post
    .comments
      = render 'disqus', post: @post
  .col-md-4
    = render 'shared/side_nav', categories: @categories, tags: @tags
