- set_meta_tags title: 'カテゴリ一覧'
- set_meta_tags description: "#{Settings.title} カテゴリ一覧"

.container
  .row
    .col-md-12
      - breadcrumb :categories
    .col-md-8
      %section
        %header
          %h3
            = link_to 'categories', blog_categories_path
        %hr
        %ul
        - @categories.each do |category|
          %li= category.render_category_link
    .col-md-4
      %section
        %header
          %h3
            = link_to 'tags', blog_tags_path
        %hr
        %ul
          - tag_cloud(@tags, %w(s m l xl)) do |tag, css_class|
            = link_to tag.name, tag_path(tag.name), class: css_class
