= javascript_pack_tag 'ArchiveList'

%section
  %header
    %h3
      = link_to 'categories', blog_categories_path
  %hr
  %ul
    - @categories.each do |category|
      %li= category.render_category_link
%section
  %header
    %h3 最新記事
  %hr
  %ul
    - (@latest_posts || @posts).each do |post|
      = link_to blog_post_path(post) do
        %li= post.title
          %p= post.description
%ArchiveList{ id: 'archive-list', data: { archives: @archives.to_json } }
%section
  %header
    %h3
      = link_to 'tags', blog_tags_path
  %hr
  %ul
    - tag_cloud(@tags, %w(s m l xl)) do |tag, css_class|
      = link_to tag.name, blog_tag_path(tag.name), class: css_class
%hr

= render 'shared/ads/adsence_rectangle'
