- set_meta_tags title: "#{Settings.title}"
- set_meta_tags description: 'Web周りの話や読んだ本についての感想を書いているブログです。'

.container
  .row
    .col-md-8
      - @posts.each do |post|
        %section
          %h1.title= post.title
          %p= post.description
          = link_to 'Read more', blog_friendly_path(post), class: %w(btn btn-success mb-3)
    .col-md-4
      = render 'shared/side_nav', categories: @categories, tags: @tags
  .center
    = paginate @posts, params: {controller: 'blog', action: 'index'}
