- set_meta_tags title: "#{@post.title}"
- set_meta_tags description: @post.description

.container
  .row
    .col-md-12
      - breadcrumb :post, @post
    .col-md-8
      %section
        %h1.title #{@post.title}
        .body
          = @post.to_html
      .socials
        = render 'sns_btns', post: @post
      .comments
        = render 'disqus', post: @post
    .col-md-4
      = render 'shared/side_nav', categories: @categories, tags: @tags
