!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }
    %title=Settings.title
    = csrf_meta_tags
    = stylesheet_link_tag('application', media: 'all')
    = javascript_include_tag('application')
    = analytics_init if GoogleAnalytics.valid_tracker?
  %body
    = render 'layouts/nav'
    = render 'layouts/header'
    = yield
    = render 'layouts/footer'
